Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  portability-*
WarningsAsErrors: ""
HeaderFilterRegex: "^(include|src|app|tests)/"
FormatStyle: file
